body {
    color: rgb(255, 255, 255);
    background: url(back.jpg) no-repeat center; /* Centraliza a imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    font-family: system-ui;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
}

header {
    background-color: #0e1b545f;
    box-shadow:  #0e1b5462 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0;
    margin: 0;
}

header img {
    height: 100px;
}

header p{
    color: #0e1b54b7;
}

.card{
    margin-top: 5rem;
    padding: 3px;
    border-radius: 0 50px 50px 0 ;
    width: 90%;
    background-color: #0e1b54;
}

article {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(45, 66, 98);
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra do card */
    padding: 2rem; /* Espaçamento interno */
    max-width: 800px; 
    margin: 5rem auto;
    width: 95%; /* Largura do card */
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
}

article h1 {
    margin: 0; /* Remove a margem para alinhamento adequado */
    padding-bottom: 1rem; /* Espaçamento inferior no título */
}

article img{
    width: 50%;
    border-radius: 10px;
    border: #0e1b54 5px solid;
    margin-bottom: 15px;
}

footer{
    background-color: #0e1b54;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #0e1b545f;
    box-shadow:  #0e1b5468 0px -10px 10px;
    height: 100px;
    padding: 0;
    margin: 0;
}

footer i:hover{
    color: #4a0093;    
    transition: 50ms ease-in-out;
}

@media (max-width: 768px) {
    header img{
        height: 70px;
    }

    article{
        width: 90%;
    }

    h1{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

}
